@model RegisterDto
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <h2 class="text-center">Register</h2>
    <form asp-controller="Auth" asp-action="Register" method="post">

        <div class="mb-3">
            <div class="w-25">
                <label asp-for="Username" class="form-label pt">Username</label>
            </div>
            <div class="flex-1">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Password" class="form-label pt">Password</label>
            </div>
            <div class="flex-1">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>



        @*Register button*@
            <div class="w-25"></div>
            <div class="flex-1">
            <button class="btn btn-primary" type="submit">Register</button>

            <div asp-validation-summary="All" class="text-danger"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
    </form>
</div>